<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, 'error') %>  prevented this Post from saving </h2>
    <ul>
      <% @post.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>

  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>