<div id="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>

  <p class="date">
    Created: <%= time_ago_in_words(@post.created_at) %> ago |
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

  <p class="body">
    <%= @post.body %>
  </p>
</div>
