<!DOCTYPE html>
<html>
  <head>
    <title>Stumbler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Raleway' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div id="sidebar">
      <ul>
        <li class="category"><%=link_to 'Stumbler', root_path %></li>
        <li><%=link_to 'Posts', root_path %></li>
        <li>About</li>
      </ul>

      <p class="sign_in">User Login</p>
    </div>

    <div id="main_content">
      <div id="header">
        <p>Posts Feed</p>
        <div class="buttons">
          <buttons class="button"><%=link_to 'Make Post', new_post_path %></buttons>
          <buttons class="button">Log Out</buttons>
        </div>
      </div>

      <% flash.each do |name, message| %>
        <%= content_tag(:div, message, class: 'alert') %>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
